<% content_for :ribbon do %>
    <!-- RIBBON -->
    <div id="ribbon">
      <i class="fa fa-lg fa-fw fa-home"></i>
      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li>Home</li>
        <li>Blank</li>
      </ol>
      <!-- end breadcrumb -->

    </div>
    <!-- END RIBBON -->
<% end %>

<!-- #MAIN CONTENT -->

<!-- end row -->

<!-- END #MAIN CONTENT -->
<% content_for :scripts do %>
<% end %>