#master-data-table {
  margin-top: 5px;

  tbody, thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  thead {
    display:block;
    position: sticky;
    top:0;
    margin-left: -2px;
    margin-right: -2px;
    margin-bottom: -2px;
  }

}

#master-data-widget {
  .wg-content {
    padding-bottom: 68px;
  }
}

#master-data-search {
  label {
    padding-left: 0px;
  }
}

#master-data-table-info {
  margin-top: 15px;
  .form-control {
    height: 30px;
    bottom: 4px;
    position: relative;
  }
}

* {box-sizing:border-box;}